src/main/mule/option-b/munitusage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <http:listener-config name="HTTP_Listener_config">
    <http:listener-connection
      host="0.0.0.0"
      port="8083" />
  </http:listener-config>

  <http:request-config name="HTTP_Request_configuration1">
    <http:request-connection
      host="localhost"
      port="8083" />
  </http:request-config>

  <flow name="HTTPEndpoint">
    <http:listener
      config-ref="HTTP_Listener_config"
      path="/">
      <http:error-response statusCode="#[vars.statusCode]">
        <http:body><![CDATA[#[output text/plain --- payload]]]></http:body>
      </http:error-response>
    </http:listener>
    <set-payload
      value='#["Hello World"]'
      doc:name="Set Payload" />
    <http:request
      method="GET"
      doc:name="Request"
      config-ref="HTTP_Request_configuration1"
      path="/NotExist" />
    <error-handler>
      <on-error-propagate
        doc:name="On Error Propagate"
        type="HTTP:NOT_FOUND">
        <set-payload
          value="Upstream service resource not available"
          doc:name="Set Payload" />
        <set-variable
          value="#[404]"
          doc:name="Set Variable"
          variableName="statusCode" />
      </on-error-propagate>
    </error-handler>
  </flow>
</mule>
