src/main/mule/option-c/implemenation-option-c.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <http:request-config
    name="HTTP_Request_configuration-DownstreamAPI"
    doc:name="HTTP Request configuration" />
  <!-- -->
  <!-- -->
  <!-- -->
  <flow name="test-mock-downstream-http-error-response-flow">
    <http:listener
      doc:name="Listener"
      config-ref="HTTP_Listener_config"
      path="/" />
    <http:request
      method="GET"
      doc:name="Request"
      config-ref="HTTP_Request_configuration-DownstreamAPI"
      path="/users/123" />
    <error-handler>
      <on-error-continue
        enableNotifications="true"
        logException="true"
        doc:name="On Error Continue"
        when="#[error.errorMessage.attributes.statusCode == 404]">
        <ee:transform doc:name="extract downstream api error description" doc:id="gdirs">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorDescription: error.errorMessage.payload.description
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
      </on-error-continue>
    </error-handler>
  </flow>
</mule>
