src/test/munit/option-a/munit-util-mock-http-request-for-errorMessage-using-listener-localhost-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
  xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
  xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
    http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
  <munit:config
    name="munit-util-mock-http-request-for-errorMessage-using-listener-localhost-test-suite.xml" />

  <munit:dynamic-port
    propertyName="munit.dynamic.port"
    min="6000"
    max="7000" />

  <http:listener-config
    name="MUnit_HTTP_Listener_config"
    doc:name="HTTP Listener config">
    <http:listener-connection
      host="0.0.0.0"
      port="${munit.dynamic.port}" />
  </http:listener-config>


  <http:request-config name="MUnit_HTTP_Request_configuration">
    <http:request-connection
      host="localhost"
      port="${munit.dynamic.port}" />
  </http:request-config>


  <flow name="munit-util-mock-http-request-for-errorMessage-using-listener.flow">
    <http:listener
      doc:name="Listener"
      config-ref="MUnit_HTTP_Listener_config"
      path="/*">
      <http:response
        statusCode="#[(attributes.queryParams.statusCode default attributes.queryParams.httpStatus) default 200]"
        reasonPhrase="#[attributes.queryParams.reasonPhrase]">
        <http:headers><![CDATA[#[attributes.headers]]]></http:headers>
      </http:response>
      <http:error-response
        statusCode="#[(attributes.queryParams.statusCode default attributes.queryParams.httpStatus) default 500]"
        reasonPhrase="#[attributes.queryParams.reasonPhrase]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers><![CDATA[#[attributes.headers]]]></http:headers>
      </http:error-response>
    </http:listener>

    <logger
      level="TRACE"
      doc:name="doc: Listener Response will Return the payload/http status for the respective request that was made to mock" />
  </flow>


  <flow name="implementation-test-suite.http-req-mock-based-on-vars.munitHttpMock.flow">
    <try doc:name="Try">
      <http:request
        method="GET"
        doc:name="HTTP Req MUnit Listener"
        config-ref="MUnit_HTTP_Request_configuration"
        path="/"
        sendBodyMode="ALWAYS">
        <http:headers><![CDATA[#[vars.munitHttpMock.headers default {}]]]></http:headers>
        <http:query-params><![CDATA[#[vars.munitHttpMock.queryParams default {}]]]></http:query-params>
      </http:request>

      <error-handler>
        <on-error-propagate
          enableNotifications="true"
          logException="true"
          doc:name="On Error Propagate">
          <remove-variable
            doc:name="munitHttpMock"
            variableName="munitHttpMock" />
        </on-error-propagate>
      </error-handler>
    </try>

    <remove-variable
      doc:name="munitHttpMock"
      variableName="munitHttpMock" />
  </flow>


</mule>
