target/classes/munitusage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eab071b7-57ac-4a2b-a304-05de2dfdcfcf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="339e6e8c-baae-4d34-8300-7b201957f57a" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="HTTPEndpoint" doc:id="aad85f21-77ba-4ab7-a773-dca1a4791672" >
		<http:listener doc:name="Listener" doc:id="17d4408b-ab4f-4489-8556-1794e4f7f866" config-ref="HTTP_Listener_config" path="/">
			<http:error-response statusCode="#[vars.statusCode]" >
				<http:body ><![CDATA[#[output text/plain --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="a4f116eb-56d7-49c2-9282-bcee148caf7b" />
		<http:request method="GET" doc:name="Request" doc:id="a060f2af-cb12-4b96-b307-bb7726c5f4d4" config-ref="HTTP_Request_configuration1" path="/NotExist"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e24d8acf-967b-4995-8117-c3d0f741f3eb" type="HTTP:NOT_FOUND">
				<set-payload value="Upstream service resource not available" doc:name="Set Payload" doc:id="8e29b05e-bf45-4903-b1a1-200fda680e28" />
				<set-variable value="#[404]" doc:name="Set Variable" doc:id="5090dd46-ba6e-4e08-8a26-248def60d2fc" variableName="statusCode"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
